<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/general.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/js/script.js"></script>
</head>
<body>
  <header class="animated-header">
    <h1>Translator</h1>
  </header>

  <main>
    {{{ body }}}
  </main>

  <footer class="animated-footer">
    <p>&copy; 2024 Group OPEN AI. All rights reserved.</p>
  </footer>
</body>
</html>
