@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #1a1a1a; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 960px;
  width: 100%;
  background-color: #333; 
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.left-section,
.right-section {
  width: 48%;
  padding: 20px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #fff; /
}

.description {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 24px;
}

.translation-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 24px;
}

.form-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #ccc; 
}

.form-input,
.form-select {
  padding: 12px 16px;
  border: 1px solid #666; 
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: #333; 
}

.form-input{
  width: 100%;
}

.form-input:focus,
.form-select:focus {
  outline: none;
  border-color: #999; 
}

.custom-select {
  position: relative;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #007bff; 
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker primary button color on hover */
}

.translation-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #fff;
}

.translation-box {
  background-color: #333; /* Darker translation box background color */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Slightly lighter box shadow */
}

.translation-text {
  font-size: 18px;
  line-height: 1.6;
}
